<div id="myNavSearch" class="overlaySearch">
    <div class="overlay-content-search-nav">
        <form action="/search" method="get" class="search-nav-drop">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="buscador1" type="text" placeholder="Que estas buscando?...">
            <a href="javascript:void(0)" class="closebtnSearch" onclick="closeSearch()"><div class="logo-x"><i class="fa-solid fa-xmark"></i></div></a>
        </form>
    </div>
</div>