<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="css/normalize.css">    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          rel="stylesheet">       
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="#" class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </a>    

            <img src="/img/logo-ticketmate.svg" class="logo">

            <button class="boton-buscar">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </button>            
        </div>
    </header>
    
    <main>        
        <nav class="main-navbar">
            <h3 class="left-navbar">Resumen de compra</h3>             
                <div class="right-navbar">
                    <a href="#">Cancelar compra</a>
                </div>             
        </nav>
        <section class="contenedor">
                <article class="boleto">
                    <div class="producto__informacion">
                        <p class="nombre-evento">NOMBRE DEL EVENTO</p>
                        <p class="fecha">28 Jun | 21:00hs | Campo Delantero</p>
                        <p class="precio">$1000</p>
                    </div>
                </article>

                <article class="boleto">
                    <div class="producto__informacion">
                        <p class="nombre-evento">NOMBRE DEL EVENTO</p>
                        <p class="fecha">28 Jun | 21:00hs | Campo Delantero</p>
                        <p class="precio">$1000</p>
                    </div>
                </article>

                <article class="boleto">
                    <div class="producto__informacion">
                        <p class="nombre-evento">NOMBRE DEL EVENTO</p>
                        <p class="fecha">28 Jun | 21:00hs | Campo Delantero</p>
                        <p class="precio">$1000</p>
                    </div>
                </article>

                <article class="boleto">
                        <p class="servicios">Servicios</p>
                        <p>Cargo por servicio</p>
                        <p class="precio">$1000</p>
                    </div>
                </article>
            </section>

            <section class="total">
                <div>
                    <p>3</p>
                    <p>Total</p>
                    <p>$3900</p>
                </div>             
                <div class="pagar">
                    <input class="boton-pagar" type="submit" value="Pagar">
                </div>             
            </section>
        </main>            
</body>
</html>