<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <head>
        <nav>
            <a href="/">
                <img id="logo" src="/img/logo-ticketmate.svg">
                <div class="container-cart-user">
                    <a class="boton-cart" href="/cart">
                        <div id="logo-cart"><i class="fa-solid fa-basket-shopping"></i></div>
                    </a>
                    <a class="boton-login" href="/login">
                        <div id="logo-user"><i class="fa-solid fa-user"></i></div>
                    </a>
                </div>            
        </nav>
    </head>
    <div class="profile-picture">
        <img src="/img/banda-placeholder.jpg" alt="">
      </div>
    <div class="fondo-inicio">
            <form action="/search" method="get" class="search-bar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input class="buscador1" type="text" placeholder="Que estas buscando?...">
                <button type="reset"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
            </form>
    </div>

    <main>

        <!-- Agregar el resto del contenido -->

        <div class="collapsible-wrapper">
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-1">
                <div class="collapsible-header">
                    <label for="event-1" class="collapsible-label"><!-- IMPORTANTE: el "for" del label y el "id" del input checkbox deben coincidir en cada elemento -->
                        <span class="event-date">28 jul</span>
                        <span class="event-name">Nombre Evento</span>
                        <span class="precio">Desde $500</span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content">
                    <div>
                    <p>Seccion #2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis explicabo, id nemo, dicta nihil in iure
                        quaerat assumenda labore, reiciendis earum tenetur neque culpa enim magni? Maxime blanditiis facere
                        modi.</p>
                    </div>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-2">
                <div class="collapsible-header">
                    <label for="event-2" class="collapsible-label">
                        <span class="event-date">28 jul</span>
                        <span class="event-name">Nombre Evento</span>
                        <span class="precio">Desde $500</span>
                        <span class="precio">Desde $500</span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content">
                    <div>
                    <p>Seccion #2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis explicabo, id nemo, dicta nihil in iure
                        quaerat assumenda labore, reiciendis earum tenetur neque culpa enim magni? Maxime blanditiis facere
                        modi.</p>
                    </div>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-3">
                <div class="collapsible-header">
                    <label for="event-3" class="collapsible-label">
                        <span class="event-date">28 jul</span>
                        <span class="event-name">Nombre Evento</span>
                        <span class="precio">Desde $500</span>
                        <span class="precio">Desde $500</span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content">
                    <div>
                    <p>Seccion #2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis explicabo, id nemo, dicta nihil in iure
                        quaerat assumenda labore, reiciendis earum tenetur neque culpa enim magni? Maxime blanditiis facere
                        modi.</p>
                    </div>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    
</body>
</html>