<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketMate</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <head>
        <nav>
            <img id="logo" src="/img/logo-ticketmate.svg">
            <div id="nav-links-icons">
                <ul class="nav-bar">
                    <li><a class="nav-link" href="contact">Contacto</a></li>
                    <li><a class="nav-link" href="tickets">Tickets</a></li>
                    <li><a class="nav-link" href="">Horarios</a></li>
                    <!-- <li>Carrito</li> -->
                    <li><a class="nav-link" href="/login">Log in</a></li>
                </ul>
                <div class="container-cart-user">
                    <a class="boton-cart" href="/cart">
                        <div id="logo-cart"><i class="fa-solid fa-basket-shopping"></i></div>
                    </a>
                    <a class="boton-login" href="/login">
                        <div id="logo-user"><i class="fa-solid fa-user"></i></div>
                    </a>
                </div>
            </div>
                  <div class="navigation">
                    <div id="menuToggle">
                      <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                    <ul id="menu">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Info</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                   </div>
                </div>
        </nav>       
    </head>
    <div class="fondo-inicio">
        <form action="/search" method="get" class="search-bar">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="buscador1" type="text" placeholder="Que estas buscando?...">
            <button type="reset"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
        </form>
    </div>
    <main>
        <section class="product-container">

            <div class="product-container-header">
                <h2>Próximos Eventos</h2>
                <div class="slider-nav">
                    <a href="#slide-1">1</a>
                    <a href="#slide-2">2</a>
                    <a href="#slide-3">3</a>
                </div>
            </div>

            <hr class="divider">

            <div class="scroller-wrapper snap-scroll">

                <div class="scroller-element">
                    <a href="/detail">
                        <img src="/img/banda-placeholder.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="scroller-element">
                    <a href="/detail">
                        <img src="/img/banda-placeholder2.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="scroller-element">
                    <a href="/detail">
                        <img src="/img/banda-placeholder3.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="scroller-element">
                    <a href="detail.html">
                        <img src="/img/banda-placeholder4.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="slider-wrapper">
                <div class="slider">
                    <div class="slider-group" id="slide-1">
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>16</span>
                                        <span>julio</span>
                                    </div>
                                        <span class="event-name">Arctic Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder2.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>26</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Boreal Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder3.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>6</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Desert Monkeys</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-group" id="slide-2">
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>16</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Arctic Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder2.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>26</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Boreal Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder3.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>6</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Desert Monkeys</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-group" id="slide-3">
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>16</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Arctic Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder2.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>26</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Boreal Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder3.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>6</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Desert Monkeys</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <footer>

    </footer>
</body>

</html>