<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketMate</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <head>
        <nav>
            <div id="logo"><img id="logo" src="/img/logo.svg"></div>
            <div id="logo-user"><i class="fa-solid fa-user"></i></div>
        </nav>
    </head>
    <div class="fondo-inicio">

    </div>
    <main>
        <section class="product-container">
            <h2>Próximos Eventos</h2>
            <div class="scroller-wrapper snap-scroll">

                <div class="scroller-element">
                    <img src="/img/banda-placeholder.jpg" alt="">
                    <div class="scroller-content">
                        <div class="content-header">
                            <div class="content-header-left">
                                <h3 class="date-day">7</h3>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-header-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="scroller-element">
                    <img src="/img/banda-placeholder2.jpg" alt="">
                    <div class="scroller-content">
                        <div class="content-header">
                            <div class="content-header-left">
                                <h3 class="date-day">7</h3>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-header-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="scroller-element">
                    <img src="/img/banda-placeholder3.jpg" alt="">
                    <div class="scroller-content">
                        <div class="content-header">
                            <div class="content-header-left">
                                <h3 class="date-day">7</h3>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-header-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="scroller-element">
                    <img src="/img/banda-placeholder4.jpg" alt="">
                    <div class="scroller-content">
                        <div class="content-header">
                            <div class="content-header-left">
                                <h3 class="date-day">7</h3>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-header-right">
                                <p class="event-name">NOMBRE CONCIERTO</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>