<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketMate</title>
    <%- include('./partials/head') %>
</head>

<body>

    <head>

        <%- include('./partials/navbar') %>

            <div class="fondo-inicio">
                <form action="/search" method="get" class="search-bar">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="Que estas buscando?...">
                    <button type="reset"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
                </form>
            </div>

    </head>
    <main>
        <!-- NavBar Desplegable comienzo-->
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                <div class="logo-x"><i class="fa-solid fa-xmark"></i></div>
            </a>
            <div class="overlay-content">
                <a href="login">Log in</a>
                <a href="cart">Carrito</a>
                <a href="#">Horarios</a>
                <a href="#">Tickets</a>
                <a href="contact">Contacto</a>
            </div>
        </div>
        <!-- NavBar Desplegable final-->
        <section class="product-container">

            <div class="product-container-header">
                <h2>Próximos Eventos</h2>
                <div class="slider-nav-container">
                    <span>Páginas </span>
                    <div class="slider-nav">
                        <a href="#slide-1">1</a>
                        <a href="#slide-2">2</a>
                        <a href="#slide-3">3</a>
                    </div>
                </div>
            </div>

            <hr class="divider">

            <div class="scroller-wrapper snap-scroll">

                <div class="scroller-element">
                    <a href="/detail">
                        <img src="/img/banda-placeholder.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">Arctic Monkeys</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="scroller-element">
                    <a href="/detail">
                        <img src="/img/banda-placeholder2.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">Boreal Monkeys</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="scroller-element">
                    <a href="/detail">
                        <img src="/img/banda-placeholder3.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">Desert Monkeys</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="scroller-element">
                    <a href="detail.html">
                        <img src="/img/banda-placeholder4.jpg" alt="">
                        <div class="scroller-content">
                            <div class="content-left">
                                <span class="date-day">7</span>
                                <span class="date-month">junio</span>
                            </div>
                            <div class="content-right">
                                <p class="event-name">Underground Monkeys</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="slider-wrapper">
                <div class="slider">
                    <div class="slider-group" id="slide-1">
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>16</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Arctic Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder2.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>26</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Boreal Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder3.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>6</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Desert Monkeys</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-group" id="slide-2">
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>16</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Arctic Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder2.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>26</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Boreal Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder3.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>6</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Desert Monkeys</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-group" id="slide-3">
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>16</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Arctic Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder2.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>26</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Boreal Monkeys</span>
                                </div>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="/detail">
                                <img src="/img/banda-placeholder3.jpg" alt="">
                                <div class="slider-content">
                                    <div class="event-date">
                                        <span>6</span>
                                        <span>julio</span>
                                    </div>
                                    <span class="event-name">Desert Monkeys</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>