@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    text-decoration: none;
}
nav {
    position: absolute!important;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0);
    backdrop-filter: blur(14px);
    box-shadow: 0px 0px 5px 0px #0000008c;
    color: #ffffff;
}

/* Search NavBar */
.search-nav {
    position: unset;
    transform: translate(0%, 0%);
    width: 35%;
}

.search-nav>input {
    height: 35px;
    min-width: 0;
}

.search-nav>button {
    height: 35px;
}
/* Search NavBar */

.cart-container {
    display: flex;
    justify-content: center;
}

.container-cart {
    padding-top: 100px;
    width: 600px;
}


.main-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    /*background-color: var(--GrisMedio);*/
    background-color: black;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    color: white;
    
}

.right-navbar{
    color: red;
    text-decoration: none;
}

.contenedor{
    margin-left: 20px;
    margin-right: 20px;
    background-color:var(--GrisClaro);
}

.boleto{
    display: flex;
    font-size: 14px;
    align-items: center;
}

.boleto-wrapper{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--GrisMedio);
}

.producto-informacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boleto p,
.boleto h3,
.boleto h2 {
    margin: 0;
    color: black;
}

.event-image {
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 100px;
    min-height: 75px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    background-color: var(--GrisMedio);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    background-color: black;
}

.total p {
    font-size: 16px;
    margin: 7px 0;
    color: white;
}

.boton-pagar{
    width: 80px;
    /*background: black;*/
    background-color: white;
    color: black;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 5px;

}

