@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    line-height: 1;
}

.fondo-inicio {
    background-position: center top !important;
    background-size: cover !important;
    height: 70px !important;

  }

  .search-nav {
    position: unset;
    transform: translate(0%, 0%);
    width: 35%;
}

.search-nav>input {
    height: 35px;
    min-width: 0;
}

.search-nav>button {
    height: 35px;
}

.errores p {
    color: red;
    margin: 10px 0;
}

.create-form-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    padding-bottom: 100px;
}

.control-formulario label {
    font-weight: bold;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background-color: var(--GrisClaro);
    backdrop-filter: blur(14px);
    box-shadow: 0px 0px 5px 0px #0000008c;
    border-radius: 10px;
    padding: 30px;
}

.create-form-container label {
    margin: 5px 0px;
}

.control-formulario {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 84vw;
    max-width: 360px;
}

.img-select {
    display: flex;
    align-items: center;
    flex-direction: column
}

.img-profile {
    max-width: 300px!important;
}

.event-image-label {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1);
}

.control-formulario>input,
.boton-formulario,
.control-formulario>div>input,
.control-formulario>select,
.control-formulario>textarea {
    border-radius: 10px;
    height: 50px;
    text-indent: 12px;
    border: 1px solid rgba(200, 200, 200);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1);
    transition: color 0.3s ease 0s;
    width: 100%;
    max-width: 360px;
}

.control-formulario>select,
.control-formulario>textarea,
.control-formulario>input[type="date"],
.control-formulario>input[type="time"] {
    background-color: white; /* Necesario para IOS */
    -webkit-appearance: none;
    opacity: 1; /* required on iOS */
    -webkit-opacity:1; /* Override iOS opacity change affecting text & background color */
    color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 0.75;
    width: 20px;
    height: 20px;
    position: relative;
    right: 10px;
}

.boton-delete {
    background-color: rgb(194, 0, 0)!important;
}

.control-formulario img {
    height: auto;
    object-fit: cover;
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    max-width: 400px;
    min-height: 75px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1);
}


.control-formulario>textarea {
    height: 150px;
    padding: 10px 15px;
    text-indent: 0;
}

.boton-formulario:hover {
    color: #4399e0;
}

.control-formulario>input:focus,
.control-formulario>.control-formulario-password>input:focus,
.control-formulario>textarea:focus-visible,
.control-formulario>select:focus-visible,
.control-formulario>input:focus-visible {
    outline: none;
    box-shadow: 0.5px 0.5px 3px 1.5px rgba(0,0,0,0.25);
    transition: 100ms;
}

.boton-formulario {
    width: 84vw;
    background: black;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

textarea{
    margin: 10px 0px;
}

  