*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    margin: auto;
}

/* .search-bar {
    margin-top: -95px;
    display: none; 
  } */


  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 0;
    overflow: hidden;
    position: absolute;
    top: 120px;
    left: 50px;
}
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-name {
    text-align: center;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    margin-top: -90px;
    /* margin-right: 300px; */
    overflow: hidden;
    position: absolute;
    margin-left: 48px;
    
}

.profile-subtitle {
    text-align: center;
    color: #6e6e6e;
    font-size: 18px;
    margin-top: -65px;
    /* margin-right: 300px; */
    overflow: hidden;
    position: absolute;
    margin-left: 48px;
}

.fechas{
    margin-left: 28px;
    margin-top: 300px;
    font-size: 16px;
}

hr {
    margin: 3px 30px; 
}

.imagen-costado{
    display: none;
}
  
.collapsible {
    /* max-width: 400px; */ /*el ancho se puede controlar desde aca pero mejor hacerlo desde collapsible-wrapper*/
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    background: #0F1A20;
    
}

.collapsible-wrapper{
    width: 100%; /*cambiar esta propiedad para los diferentes viewports*/
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.collapsible-content>*,
.collapsible-label {
    padding: 20px 20px;
    
}

.collapsible-label {
    display: flex;
    transition: background 300ms ease;
    cursor: pointer;
    position: relative;
    color: #F8F4E3;
    font-weight: 600;
    justify-content: center; 
    align-items: center; 
    
}

.event-name {
    flex-grow: 1 !important; 
    text-align: center !important;
}

.precio {
    /* margin-right: 18px;
    white-space: nowrap; */
    display: none;
}

.collapsible-label:hover {
    background: rgba(255, 255, 255, 0.1);
}

.collapsible-header {
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.icono {
    position: absolute;
    right: 20px;
    transition: all 300ms;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms;
}

.collapsible-content {
    background: #F8F4E3;
    line-height: 1.4;
    max-height: 0px;
    transition: all 300ms;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.collapsible input:checked~.collapsible-content {
    max-height: 500px;
}

.collapsible input:checked~.collapsible-header>.icono {
    transform: translateY(-50%) rotate(0.5turn);
}

.collapsible-content div {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.collapsible-content button {
    border-radius: 6px; 
    font-size: 16px;
    width: 120px;
    height: 30px;
}

.boton{
    display: flex;
}

.fondo-inicio {
    background-position: center top !important;
    background-size: cover !important;
    height: 70px !important;

  }

  .collapsible-content p {
    margin-right: 50px;
    
}

.derecha{
    display: none;
}

/* .search-bar{
    z-index: 10!important;
    width: 50%!important;
} */

@media (min-width:769px){
    .precio {
        margin-right: 18px;
        white-space: nowrap;
        display: flex;
       
    }

    .profile-name{
        text-align: center;
        color: #000000;
        font-weight: 600;
        font-size: 40px;
        margin-top: 50px;
    /* margin-right: 300px; */
        overflow: hidden;
        position: absolute;
        margin-left: 180px;
    }

    .profile-subtitle {
        text-align: center;
        color: #6e6e6e;
        font-size: 30px;
        margin-top: 100px;
        /* margin-right: 300px; */
        overflow: hidden;
        position: absolute;
        margin-left: 180px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 0;
        overflow: hidden;
        position: absolute !important;
        top: 120px;
        left: 50px;
        
    }

    .fechas{
        margin-left: 20px;
        margin-top: 300px;
        font-size: 16px;
    }

    hr {
        margin: 3px 20px; 
    }
    
    /* .imagen-costado {
        float: right;
        display: flex;
        width: 50%;
    } */

    .collapsible-content p {
        margin-right: 100px;
        margin-left: 100px;        
    }

    .collapsible-content button {
        border-radius: 6px;
        font-size: 16px;
        width: 120px;
        height: 30px;       
    }

    /* .izquierda{
        width: 70%;
        height: 100vh;
        /* margin-left: 20px; */
   /*  }

    .derecha{       
        background-size: cover;
        background-position: center;
        width: 10%;
        height: 100vh;
        display: flex;
    }

    #pantalla-dividida{
        display: flex;
    } */

    #pantalla-dividida {
        display: flex;
      }
      
      .izquierda {
        flex: 1; /* Esto hará que el div ocupe todo el espacio disponible en el contenedor */
        margin-left: 50px;
        margin-right: 80px;
      }
      
      .derecha {
        flex: 1; /* Esto hará que el div ocupe todo el espacio disponible en el contenedor */
        display: flex;
        justify-content: flex-end; /* Alinea el contenido al final del div */
        align-items: flex-end;
        
        
      }
      
      .derecha img {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del div */
        height: 100vh; /* Ajusta la altura de la imagen automáticamente */
        margin-right: 0;
        
      }

    
 
}





