*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    margin: auto;
}

.search-bar {
    margin-top: -95px; 
  }


.profile-picture {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 270px; 
    left: 50px; 
    z-index: 10;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.collapsible {
    /* max-width: 400px; */ /*el ancho se puede controlar desde aca pero mejor hacerlo desde collapsible-wrapper*/
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    background: #0F1A20;
    
}

.collapsible-wrapper{
    width: 100%; /*cambiar esta propiedad para los diferentes viewports*/
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.collapsible-content>*,
.collapsible-label {
    padding: 20px 20px;
    
}

.collapsible-label {
    display: flex;
    transition: background 300ms ease;
    cursor: pointer;
    position: relative;
    color: #F8F4E3;
    font-weight: 600;
    justify-content: center; 
    align-items: center; 
    
}

.event-name {
    flex-grow: 1 !important; 
    text-align: center !important;
}

.precio {
    margin-right: 18px;
    white-space: nowrap;
}

.collapsible-label:hover {
    background: rgba(255, 255, 255, 0.1);
}

.collapsible-header {
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.icono {
    position: absolute;
    right: 20px;
    transition: all 300ms;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms;
}

.collapsible-content {
    background: #F8F4E3;
    line-height: 1.4;
    max-height: 0px;
    transition: all 300ms;
    
    
}

.collapsible input:checked~.collapsible-content {
    max-height: 500px;
}

.collapsible input:checked~.collapsible-header>.icono {
    transform: translateY(-50%) rotate(0.5turn);
}

.collapsible-content div {
    display: flex; 
    justify-content: flex-end;
    flex-direction: column;
}

.collapsible-content button {
    border-radius: 6px; 
    font-size: 16px;
    width: 120px;
    height: 30px;

}

.fondo-inicio {
    background-position: center top !important;
    background-size: cover !important;
    height: 350px !important; 
  }

  .collapsible-content p {
    margin-right: 50px;
    
}







