
.fondo-inicio {
    background-position: center top !important;
    background-size: cover !important;
    height: 70px !important;

  }

  .search-nav {
    position: unset;
    transform: translate(0%, 0%);
    width: 35%;
}

.search-nav>input {
    height: 35px;
    min-width: 0;
}

.search-nav>button {
    height: 35px;
}

.create-event-button {
    width: 150px;
    border: 1px solid rgb(200, 200, 200);
    margin: 5px 20px;
}

.event-container {
    margin: 25px 20px;
    display: flex;
}

.event-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-a-container a,
.create-event-button a {
    display: flex;
    text-decoration: none;
}

.img-a-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.img-create img{
    filter: drop-shadow(2px 2px 3px #00000059);
}

.event-container img,
.event-container button {
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 150px;
    min-height: 75px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1);
}

.event-container>article p,
.event-container>article h2{
    margin: 0;
    margin-bottom: 14px;
}


.event-container button {
    min-height: 30px;
    background-color: lightblue;
}