
.fondo-inicio {
    background-position: center top !important;
    background-size: cover !important;
    height: 70px !important;

  }

  .search-nav {
    position: unset;
    transform: translate(0%, 0%);
    width: 35%;
}

.search-nav>input {
    height: 35px;
    min-width: 0;
}

.search-nav>button {
    height: 35px;
}


/* ---------------------------------------- */

.events-wrapper {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 20px;
}

.event-card-img-container {
    aspect-ratio: 16/9;
}

.event-card-img-container img {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;    
}

.event-card {
    max-width: calc(100% - 20px);
    aspect-ratio: 8/7;
    flex: 0 0 calc(100% - 35px);
    padding: 0px;
    border: 1px solid black;
    border-radius: 12px;
}

/* Responsive Styling */
@media screen and (min-width: 480px) {
    .event-card {
        max-width: calc(50% - 20px);
        flex: 0 0 calc(50% - 30px);
    }
}

@media screen and (min-width: 768px) {
    .events-wrapper {
        max-width: 1200px;
        margin: 25px auto;
    }

    .event-card {
        max-width: calc(33% - 20px);
        flex: 0 0 calc(45% - 20px);
    }
}



/* ---------------------------------------- */