@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

nav {
    background: #ebebeb !important;
}

#texto-nav {
    padding-left: 5px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.fondo-inicio {
    display: none;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
}

.login-form
.control-formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 84vw;
    max-width: 360px;
}

.login-form label {
    margin: 5px 0px;
}

.control-formulario>input,
.boton-formulario {
    border-radius: 10px;
    height: 50px;
    text-indent: 12px;
    border: 1px solid rgba(200, 200, 200);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1);
}

.control-formulario>input:focus {
    outline: none;
    box-shadow: 0.5px 0.5px 3px 1.5px rgba(0,0,0,0.25);
    transition: 100ms;
}

.boton-formulario {
    width: 84vw;
    max-width: 350px;
    background: black;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.sign-up-button {
    font-size: 14px;
    color: rgb(68, 68, 68);
}