@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#texto-nav {
    padding-left: 5px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.fondo-inicio {
    display: none;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
}

.login-form
.control-formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 84vw;
    max-width: 350px;
}

.login-form label {
    margin: 5px 0px;
}

.control-formulario>input,
.boton-formulario {
    border-radius: 10px;
    height: 50px;
    text-indent: 5px;
}

.boton-formulario {
    width: 84vw;
    max-width: 350px;
    background: black;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.sign-up-button {
    font-size: 14px;
}