* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

boton-login:visited {
    color: rgb(9, 255, 0);
}

body {
    background-color: rgb(197, 197, 197);
}

nav {
    position: relative;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    background: #0000008f;
    backdrop-filter: blur(14px);
    box-shadow: 0px 0px 10px 0px #0202088c;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#logo-user {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 5px;
}

.fondo-inicio {
    background-color: rgb(146, 189, 189);
    height: 450px;
}

.nav-fondo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(75%);
}

.boton-login,
.boton-home  {
    text-decoration: none;
    color: black;
}

/* ----------------------------------------- */

.product-container{
    --spacer: 1rem;
    padding: var(--spacer);
}

.scroller-wrapper{
    display: flex;
    gap: var(--spacer);
    overflow-x: auto;
/*     height: 40vh; */
    padding-bottom:20px;
}

.scroller-element{
    flex: 0 0 75%; 
/*     padding: var(--spacer); */
/*     border: 1px solid hsl(0, 0%, 90%); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 90%);
    box-shadow: 2px 2px 5px 0px hsla(0, 0%, 0%, 0.20);
    max-width: 100px;
}

.scroller-element img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.snap-scroll{
    scroll-snap-type: inline mandatory;
}

.snap-scroll > * {
    scroll-snap-align: start;
    scroll-padding-inline: var(--spacer);
}

.scroller-content{
    display: flex;
    overflow: hidden;
    padding: 0.5rem var(--spacer);
}


.product-description p{
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-left{
    display: flex;
    align-items: flex-end;
}

.content-right{
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
}


.date-day {
    display: inline;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.date-month{
    font-size: 12px;
}

.event-name {
    font-weight: bold;
    display: inline;
    margin: 0;
    text-align: center;
} 

.divider{
    border: 1px black solid;
    border-radius: 5px;
}