* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body

nav {
    position: relative;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    background: #0000008f;
    backdrop-filter: blur(14px);
    box-shadow: 0px 0px 5px 0px #0000008c;
}

.container-cart-user {
    display: flex;
    width: 70px;
    justify-content: space-between
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#logo-user,
#logo-cart {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
}

.fondo-inicio {
    position: relative;
    height: 450px;
    background-image: linear-gradient(0deg, black, transparent 75%), url(/img/nav-fondo.jpg);
    background-size: cover;
    background-position: center;
}

.nav-fondo {
    height: 100%;
    width: 100%;
    /*object-fit: cover; */
    /*filter: brightness(75%); */
    /*background-image: linear-gradient(0deg, black, transparent), url('/img/nav-fondo.jpg'); */
}

.boton-login,
.boton-home,
.boton-cart  {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

.search-bar{
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    left: 50%;
    top: 70%;
}

.search-bar>input,
.search-bar>button {
    height: 50px;
    max-width: 750px;
}

.search-bar input{
    border: none;
    padding: 9px 0 10px 10px;
    width: 70vw; /* CAMBIAR ESTO PARA EL ANCHO */
}

.search-bar input:focus{
    outline: none;
}

.search-bar button:nth-child(1){
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: white;
    padding: 0.5rem 0.5rem;
    margin-right: -10px;
    color: black; /* Sin esto no se ve en mobile */
}

.search-bar button:nth-child(3){
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: white;
    padding: 0.5rem 0.5rem;
    margin-left: -10px;
    color: black; /* Sin esto no se ve en mobile */
}

/* ----------------------------------------- */

.product-container{
    --spacer: 1rem;
    padding: var(--spacer);
}

.scroller-wrapper{
    display: flex;
    gap: var(--spacer);
    overflow-x: auto;
/*     height: 40vh; */
    padding-bottom:20px;
}

.scroller-element{
    flex: 0 0 75%; 
/*     padding: var(--spacer); */
/*     border: 1px solid hsl(0, 0%, 90%); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 90%);
    box-shadow: 2px 2px 5px 0px hsla(0, 0%, 0%, 0.20);
    max-width: 250px;
}

.scroller-element img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.snap-scroll{
    scroll-snap-type: inline mandatory;
}

.snap-scroll > * {
    scroll-snap-align: start;
    scroll-padding-inline: var(--spacer);
}

.scroller-content{
    display: flex;
    overflow: hidden;
    padding: 0.5rem var(--spacer);
}


.product-description p{
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-left{
    display: flex;
    align-items: flex-end;
}

.content-right{
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
}


.date-day {
    display: inline;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.date-month{
    font-size: 12px;
}

.event-name {
    font-weight: bold;
    display: inline;
    margin: 0;
    text-align: center;
} 

.divider{
    border: 1px black solid;
    border-radius: 5px;
}

@media (min-width: 768px) {
    /* Desktop: */

}