<nav>
    <a href="/">
        <img id="logo" src="/img/logo-ticketmate.svg">
    </a>
    <form action="#search" method="get" class="search-bar search-nav">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="buscador1" type="text" placeholder="Que estas buscando?...">
        <button type="reset"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
    </form>
        <div id="nav-links-icons">
            <ul class="nav-bar">
                <% if(locals.userLogged){ %>
                    <% if(userLogged.admin === 1){ %>
                        <li><a class="nav-link" href="/users">Usuarios</a></li>
                    <% } %>
                <% } %>
                <li><a class="nav-link" href="#contact">Contacto</a></li>
                <li><a class="nav-link" href="#tickets">Tickets</a></li>
                <li><a class="nav-link" href="/events">Eventos</a></li>
                <!-- <li>Carrito</li> -->
                <% if (locals.userLogged) { %> 
                    <li id="username">
                        <div class="nav-separator"></div>
                        <%= locals.userLogged.username %>
                    </li>
                    <li><a class="nav-link" href="/logout">Log out</a></li>
                <% }else{ %> 
                    <li><a class="nav-link" href="/login">Log in</a></li>
                <% } %>
            </ul>
            <div class="container-cart-user">
                <a class="boton-cart" href="/cart">
                    <div id="logo-cart"><i class="fa-solid fa-basket-shopping"></i></div>
                </a>
                <a class="boton-login" href="/login">
                    <div id="logo-user"><i class="fa-solid fa-user"></i></div>
                </a>
            </div>
        </div>
        <div class="burgerMenu-SearchBar">
            <span id="openSearchButton" style="cursor:pointer; margin-right: 10px;" onclick="openSearch()"><div class="logo-search"><i class="bars-desplegable fa-solid fa-search"></i></div></span>
            <span id="openNavButton" style="cursor:pointer" onclick="openNav()"><div class="logo-hamburguer"><i class="bars-desplegable fa-solid fa-bars"></i></div></span>
        </div>
    </nav>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <div class="logo-x"><i class="fa-solid fa-xmark"></i></div>
        </a>
        <div class="overlay-content">
            <a href="/login">Log in</a>
            <a href="/cart">Carrito</a>
            <a href="/events">Eventos</a>
            <a href="#">Tickets</a>
            <a href="#contact">Contacto</a>
        </div>
    </div>