<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
    </header>
    <main>
        <!-- SearchNav-->
        <%- include('./partials/searchButtonNav') %>
        <!-- SearchNav-->
        <div class="cart-container">
            <div class="container-cart">
                <div class="main-navbar">
                    <h3 class="left-navbar">Resumen de compra</h3>
                    <div class="right-navbar">
                        <a href="#">Cancelar compra</a>
                    </div>
                </div>
                <section class="contenedor">
                    <article class="boleto">
                        <div class="producto__informacion">
                            <p class="nombre-evento">NOMBRE DEL EVENTO</p>
                            <p class="fecha">28 Jun | 21:00hs | Campo Delantero</p>
                            <p class="precio">$1000</p>
                        </div>
                    </article>

                    <article class="boleto">
                        <div class="producto__informacion">
                            <p class="nombre-evento">NOMBRE DEL EVENTO</p>
                            <p class="fecha">28 Jun | 21:00hs | Campo Delantero</p>
                            <p class="precio">$1000</p>
                        </div>
                    </article>

                    <article class="boleto">
                        <div class="producto__informacion">
                            <p class="nombre-evento">NOMBRE DEL EVENTO</p>
                            <p class="fecha">28 Jun | 21:00hs | Campo Delantero</p>
                            <p class="precio">$1000</p>
                        </div>
                    </article>

                    <article class="boleto">
                        <p class="servicios">Servicios</p>
                        <p>Cargo por servicio</p>
                        <p class="precio">$1000</p>
                    </article>
                </section>

                <section class="total">
                    <div>
                        <p>3</p>
                        <p>Total</p>
                        <p>$3900</p>
                    </div>
                    <div class="pagar">
                        <input class="boton-pagar" type="submit" value="Pagar">
                    </div>
                </section>
            </div>
    </main>
</body>

</html>