<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/events.css">
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
        <div class="fondo-inicio"> 
            <!-- SearchNav-->
            <%- include('./partials/searchButtonNav') %>
            <!-- SearchNav-->
    </header>
    <main>
        <div class="events">
        <div class="events-wrapper">


            <% for( let index = 0; index < 20; index++ ) { %>
                <div class="event-card">
                    <div class="event-card-img-container">
                        <img src="/img/events/banda-placeholder-1699413801221.jpg" alt="">
                    </div>
                </div>
            <% } %>
        </div>
        </div>
    </main>    
</body>
</html>