<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <%- include('./partials/head') %>
</head>
<body>
    <nav>
        <a href="/">
            <img id="logo" src="/img/logo-ticketmate.svg">
        </a>
        <form action="/search" method="get" class="search-bar search-nav">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="buscador1" type="text" placeholder="Que estas buscando?...">
            <button type="reset"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
        </form>
            <div id="nav-links-icons">
                <ul class="nav-bar">
                    <li><a class="nav-link" href="contact">Contacto</a></li>
                    <li><a class="nav-link" href="tickets">Tickets</a></li>
                    <li><a class="nav-link" href="">Horarios</a></li>
                    <!-- <li>Carrito</li> -->
                    <li><a class="nav-link" href="/login">Log in</a></li>
                </ul>
                <div class="container-cart-user">
                    <a class="boton-cart" href="/cart">
                        <div id="logo-cart"><i class="fa-solid fa-basket-shopping"></i></div>
                    </a>
                    <a class="boton-login" href="/login">
                        <div id="logo-user"><i class="fa-solid fa-user"></i></div>
                    </a>
                </div>
            </div>
            <span id="openNavButton" style="cursor:pointer" onclick="openNav()"><div class="logo-hamburguer"><i class="bars-desplegable fa-solid fa-bars"></i></div></span>
            
        </nav>
    </head>
    
    <div class="profile-picture">
        <img src="/img/banda-placeholder.jpg" alt="">
    </div>
 
    <div class="fondo-inicio"> 
    </div>
    <main>
        <!-- NavBar Desplegable comienzo-->
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><div class="logo-x"><i class="fa-solid fa-xmark"></i></div></a>
            <div class="overlay-content">
                <a href="login">Log in</a>
                <a href="cart">Carrito</a>
                <a href="#">Horarios</a>
                <a href="#">Tickets</a>
                <a href="contact">Contacto</a>
            </div>
        </div>
        <!-- NavBar Desplegable final-->
    <section id="pantalla-dividida">
    <div class="izquierda"> 
        <div class="profile-picture">
            <img src="/img/banda-placeholder.jpg" alt="">
            </div>       
        
        <p class="profile-name">Nombre Evento</p>
        <p class="profile-subtitle">Entradas</p>
    
        <p class="fechas">Fechas</p>
        <hr>

        <div class="collapsible-wrapper">
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-1">
                <div class="collapsible-header">
                    <label for="event-1" class="collapsible-label"><!-- IMPORTANTE: el "for" del label y el "id" del input checkbox deben coincidir en cada elemento -->
                        <span class="event-date">28 jul</span>
                        <span class="event-name">Nombre Evento</span>
                        <span class="precio">Desde $500</span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content"> 
                    <div>                 
                    <p>Seccion #1</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis explicabo, id nemo, dicta nihil in iure
                        quaerat assumenda labore, reiciendis earum tenetur neque culpa enim magni? Maxime blanditiis facere
                        modi.</p>                                          
                    </div>
                    <div class="boton">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-2">
                <div class="collapsible-header">
                    <label for="event-2" class="collapsible-label">
                        <span class="event-date">28 jul</span>
                        <span class="event-name">Nombre Evento</span>
                        <span class="precio">Desde $500</span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content">
                    <div>
                    <p>Seccion #1</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis explicabo, id nemo, dicta nihil in iure
                        quaerat assumenda labore, reiciendis earum tenetur neque culpa enim magni? Maxime blanditiis facere
                        modi.</p>
                    </div>
                    <div class="boton">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-3">
                <div class="collapsible-header">
                    <label for="event-3" class="collapsible-label">
                        <span class="event-date">28 jul</span>
                        <span class="event-name">Nombre Evento</span>
                        <span class="precio">Desde $500</span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content">
                    <div>
                    <p>Seccion #1</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis explicabo, id nemo, dicta nihil in iure
                        quaerat assumenda labore, reiciendis earum tenetur neque culpa enim magni? Maxime blanditiis facere
                        modi.</p>
                    </div>
                    <div class="boton">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <div class="derecha">
    <img src="/img/banda-placeholder4.jpg" alt="">
    </div>

    </section>

    </main>
    
</body>
</html>